@* @model IEnumerable<Regit.Models.Contract> *@
@model Regit.Models.ResponsibleViewModel

@{
    ViewData["Title"] = "Списък";
}

<h1>@ViewData["Title"]</h1>
<hr />
<p>
    <a asp-action="Create">Добави</a>
</p>
<p>
    <a asp-action="Download" asp-route-searchString=@ViewBag.SearchString
    asp-route-responsible=@ViewBag.Responsible>Свали</a>
</p>

@* <form asp-controller="Contracts" asp-action="Index" method="get">
    <p>
        <select asp-for="Responsible" asp-items=@Model.Responsibles>
            <option value="">Всички</option>
        </select>

        Предмет: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Търси" />
    </p>
</form> *@

<form asp-controller="Contracts" asp-action="Index" method="get">
        <select asp-for="Responsible" asp-items=@Model.Responsibles>
            <option value="">Всички</option>
        </select>
        Предмет: <input type="text" asp-for="SearchString" />
        <label searchFrom="FromDate">От дата:</label>
        <input type="date" name="from" placeholder="dd-MM-yyyy" value="@ViewBag.From" />
        <label searchTo="ToDate">До дата:</label>
        <input type="date" name="to" placeholder="dd-MM-yyyy" value="@ViewBag.To" />
        <input type=submit value="Търси" />
    </form>

<table class="table">
    <thead>
        <tr>
            <th>
                RegNum
            </th>
            <th>
                SignedOn
            </th>
            <th>
                ValidFrom
            </th>
            <th>
                Subject
            </th>
            <th>
                Value
            </th>
            <th>
                Term
            </th>
            <th>
                ControlledBy
            </th>
            <th>
                Responsible
            </th>
            <th>
                Guarantee
            </th>
            <th>
                WaysOfCollection
            </th>
            <th>
                InformationList
            </th>
            <th>
                Действие
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var contract in Model.Contracts)
        {
            <tr>
                <td>
                    @contract.RegNum
                </td>
                <td>
                    @contract.SignedOn
                </td>
                <td>
                    @contract.ValidFrom
                </td>
                <td>
                    @contract.Subject
                </td>
                <td>
                    @contract.Value
                </td>
                <td>
                    @contract.Term
                </td>
                <td>
                    @contract.Responsible?.Name
                </td>
                <td>
                    @contract.ControlledBy?.Name
                </td>
                <td>
                    @contract.Guarantee
                </td>
                <td>
                    @contract.WaysOfCollection
                </td>
                <td>
                    @contract.InformationList
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@contract.Id">Редактирай</a> |
                    <a asp-action="Details" asp-route-id="@contract.Id">Детайли</a> |
                    <a asp-action="Delete" asp-route-id="@contract.Id">Изтрий</a>
                </td>
            </tr>
        }
    </tbody>
</table>
